@charset "utf-8";

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:#F8F9FA;
    font-family: 'Sawarabi Gothic', sans-serif;
	color: #555;
	font-size:1.6rem;
	line-height:1.85;
    letter-spacing: 0.1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; 
	word-wrap: break-word;
}

ul,
ol,
li{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #555;
	text-decoration: none;
    outline: none;
}

img{
    max-width:100%;
    height: auto;
    opacity: .8;
}

*{
    box-sizing: border-box
}

#gallery,
#about{
    width: 95%;
    margin: 0 auto;
}

section{
    margin: 140px auto !important;
}

#access{
    margin: 140px auto 40px auto!important;
}

header{
    position: fixed;
    z-index: 900;
    background-color: #fafafa;
    opacity: .97;
    width: 100%; 
    height: 107px;
    margin: 0 auto;
}

@media screen and (max-width:1200px){
    header{
        height: 191px;
    }
    
}

@media screen and (max-width:850px){
    header{
        height: 0;
    }
    #header h1{
        max-width:120px;
        padding: 40px 0 0 0;
    }
    section{
        margin: 100px auto !important;
    }
    
    #access{
        margin: 100px auto 20px auto!important;
    }
}


/*===============*/
/* nav 
/*===============*/
#g-nav{
    animation-delay: .3s;
    position: relative;
    z-index: 4;
}

#g-nav ul li a:hover{
    color:#ADA296; 
}

#g-nav ul li a::after{
    content:"";
    padding: 0 10px 0 20px;
}

#g-nav ul ul li a::after{
    content:"";
    padding: 0;
}

img.site-logo{
    max-width: 230px;
    line-height: 60px;
    padding: 10px 40px 10px 10px;
    display: block;
    transition-duration: .3s;
}

/* 
img.site-logo:hover,
img.site-logo-tablet:hover{
    transition-duration: .3s;
    transform: scale(1.1);
    opacity: .8;
} */

footer img.site-logo{
    padding: 0;
}

img.site-logo-tablet{
    display: none;
}

@media screen and (max-width: 1200px){
    img.site-logo{
        display: none;
    }
    img.site-logo-tablet{
        display: block;
        width: 200px;
        margin: 20px auto 0 auto;
    }
}


@media screen and (max-width:850px){
    #g-nav ul li a::after{
        content:"";
        padding: 0;
    }
    #g-nav ul li a:hover{
        color: #fff;
    }

    img.site-logo{
        display: none;
    }

    img.site-logo{
        display: block;
    }

    #g-nav img.site-logo{
        display: none;
    }

    img.site-logo-tablet{
        display: none;
    }
}

/*===============*/
/* heading 
/*===============*/
#slider h2,
#gallery h2,
#newitems h2,
#about h2,
#access h2,
#contact h2{
    text-align: center;
    font-size: 2.6rem;
    color:#555;
    margin-bottom: 40px;
}

.kv-wrapper{
    position: relative;
    background-image: url(../img/flower_shop01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 108px;
    width: 100%;
    height: 100vh;
    opacity: .8;
}
@media screen and (max-width:1200px){
    .kv-wrapper{
        top: 190px;
    }
}
@media screen and (max-width:850px){
    .kv-wrapper{
        top: 0;
    }
}

@media screen and (max-width:850px){
    #slider h2,
    #gallery h2,
    #newitems h2,
    #about h2,
    #access h2,
    #contact h2{
        margin:50px 0;
        font-size: 2.4rem;
    }
}

#gallery h2{
    margin-bottom: 30px;
}

@media screen and (max-width:550px){
    .modaal-container h2,
    #gallery h2,
    #newitems h2{
    font-size: 2rem;
    }
}

/*================*/
/* Gallery 
/* ============== */
#gallery img{
	width: 100%;
	vertical-align: bottom;
}

.gallery-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: number;
}

.gallery-list li {
    position: relative;
    z-index: 1;
    width:30%;
    margin:20px 0;
    opacity: 0;
}

.gallery-list .gallery-cap{
    margin:10px 0 0 0;
    text-align: center;
    display: block;
}

@media screen and (max-width:550px){
.gallery-list li {
    width: 46%;
}
    
.gallery-list li:last-child{
    display: none;
    }    
}

.gallery-btn{
    text-align: center;
    font-size: 1.8rem;
}

.gallery-btn a:hover{
    color: #9EA088;
}

/*================*/
/* About
/* ============== */
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-picture{
    position: relative;
    background-image: url(../img/flower_shop02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: 35vh;
    opacity: .8;
}

.border-line-sp{
    display: none;
}

img.osumou-black{
    width: 7%;
    vertical-align: middle;
}

h3.about-title{
    max-width: 450px;
    font-size: 2.4rem;
    margin: 0 auto 30px auto;
}

.border-line span{
    font-size: 1.8rem;
    font-weight: normal;
}

.about-text-wrapper{
    width: 41%;
    margin-left: 5%;
}

.about-text-wrapper dd{
    max-width: 805px;
    margin: 0 auto;
}
.about-text-wrapper dd p{
    margin-bottom: 20px;
}

span.border-line{
    line-height: 2;
    border-bottom: solid #9EA088;
}

@media screen and (max-width: 1400px){
    .about-picture{
        height: 30vh;
    }
}

@media screen and (max-width: 1200px){
    .border-line{
        display: none;
    }

    .border-line-sp{
        display: block;
    }

    .border-line-sp{
        font-size: 2.4rem;
        max-width: 280px;
        text-align: center;
        margin: 0 auto;
    }

    .about-text-sp{
        font-size: 1.8rem;
    }

    .about-title{
        position: relative;
    }

    img.osumou-black{
        position: absolute;
        top: 5%;
        left: 15%;
    }
}

@media screen and (max-width: 1020px){
    img.osumou-black{
        display: none;
    }
    .about-wrapper{
        max-width: initial;
        display:  flex;
        flex-direction: column-reverse;
    }

    .about-text-wrapper{
        width: 70%;
        margin-bottom: 30px;
    }

    .about-picture{
        width: 100%;
        height: 25vh;
    }
}

@media screen and (max-width:850px){
    .about-text-wrapper{
        width: 100%;
    }
}

/*================*/
/* Access
/*================*/
#access dl{
    max-width: 290px;
    margin: 0 auto 40px auto;
}

#access dt{
    font-size: 2.6rem;
    text-align:center;
}

.google-map iframe{
    width: 100%;
    height: 300px;
    margin-bottom: 140px;
}

/*================*/
/* newitems
/*================*/
#newitems{
    margin: 0 0 50px 0;
}

#newitems li{
    position: relative;
}

span.detail-price{
    position: absolute;
    right:10px;
    bottom:10px;
    background:#fff;
    padding: 2px 10px;
}

/*================*/
/* footer
/*================*/
hr.footer-top{
    color: #999;
    width: 100%;
}

#footer{
    padding:40px 70px 0 70px;
}

.footer-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #555;
    font-size: 1.4rem;
    max-width: 1500px;
    margin: 0 auto;
}

.footer-area a{
    color: #555;
}

.footer-area a:hover{
    color:#9EA088;   
}

.footer-area ul,
.footer-area dl{
    width:25%;
    line-height: 2;
}

.footer-links li::before{
    content: '-';
    padding: 0 10px;
}

.contact-btn li::before{
    content: none;
}

.footer-area dt{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.footer-area dt img{
    max-width: 200px;
}

small{
    text-align: center;
    display: block;
    padding: 50px 0;
}

@media screen and (max-width:1200px) {
    #footer{
    padding: 30px 30px 0 30px;   
    }
    
    .footer-area ul{
        width:30%;
    }

    .footer-area .contact-btn{
        width:300px;
        margin:50px auto 0 auto;
        line-height: 2.5;
        margin: 0 auto;
    }  
}

/*=========================*/
/* お問い合わせボタン
/*=========================*/
.contact-btn li,
.contact-btn dd{
    max-width: 300px;
    height: 60px;
    color: #fff;
    background-color: #A0888A;
    margin-top: 20px;
    line-height: 60px;
    text-align: center;
}

.contact-btn li:hover,
.contact-btn dd:hover{
    background-color: #9EA088;
    cursor: pointer;
}

.contact-btn a{
    white-space: nowrap;
    position: relative;
    color: #fff!important;
    padding: 20px 50px;
    letter-spacing: .1em;
}

.contact-btn a.contact-mail{
    font-size: 1.6rem;
}

img.contact-icon{
    vertical-align: middle;
    width: 35px;
    padding-right: 5px;
}

.shop-info {
    font-size: 1.4rem;
    border-radius: 5px;
}

.phone-icon{
    font-size: 2.4rem;
    text-align: center;
}

.contact-btn a:hover{
    color: #fff!important;
}

@media screen and (max-width:810px) {
    #footer{
    padding: 30px 30px 0 30px;   
    }

    .footer-area ul{
        width:47%;
        margin: 0 0 50px 0;
    }

    .footer-area dl{
        border:none;
        width:47%;
        padding: 0;
        margin: 0 0 50px 0;
        text-align: left;
        line-height: 2;
    }
}

@media screen and (max-width: 850px){
    .contact-btn dd{
        display: inline;
        max-width: 300px;
        margin: 0 auto 40px auto;
    }

    .phone-icon{
        border: 1px #fff;
    }

    .shop-info{
        width: 250px;
    }
}

@media screen and (max-width:545px) {
    #footer{
    padding: 30px 30px 0 30px;   
    }

    .footer-area ul,
    .footer-area dl{
        border-top: 1px solid #457703;
        width: 100vw;
        margin: 0 0 30px 0;
        padding:30px 30px;
        line-height: 2.5;
    }

    .footer-area dl{
        border-top: none;
        padding-top: 0;
    }

    ul.footer-links,
    .footer-links dd{
        margin: 0;
        line-height: 1.85;
    }

    .contact-btn{
        width: 100%;
        padding: 0;
    }

    .footer-area dl dt{
        text-align: center;
    }

    .footer-area dl{
        width: 270px;
        margin: 0 auto;
    }

    .footer-area ul.contact-btn{
        padding: 0;
        border-top: none;
    }

    .footer-area ul:nth-of-type(2){
        border-bottom: 1px solid #457703;
    }

    .phone-icon{
        font-size: 2rem;
    }

    .contact-mail{
        font-size: 2.4rem;
    }
}
