@charset "utf-8";
/*============================*/
/* ドットインストール_注意書き
==============================*/
.precautions{
    padding: 0 4vw;
    text-align: center;
}
a.caution{
    text-decoration: underline;
    color: #1158c7;
}
a.caution:hover{
    text-decoration: none;
}
.res-tab,
.res-sp{
    display: none;
}

@media screen and (max-width:1200px){
    .res-pc{
        display: none;
    }
    .res-tab{
        display: block;
    }
}
@media screen and (max-width:850px){
    .res-tab{
        display: none;
    }
    .res-sp{
        display: block;
        font-size: 1.2rem;
        margin-top: 20px;
    }
    .res-sp p.precautions{
        text-align: left;
    }
}

/*===============================================
/* スクロールすると位置が固定して追従
/*==============================================*/
/*ナビゲーションの固定*/
.sub-fix-block{
    position: -webkit-sticky;/*Safari*/
    position: sticky;
    top:20px;
}

@media screen and (max-width:1020px){
    .sub-fix-block{
        position:relative;/*stickyからrelativeに戻す*/	
        top:0;
    }
}

#g-nav .contact-btn dd{
    width: 200px;
}

#g-nav .contact-btn a{
    font-size: 2rem;
}

#g-nav .contact-btn img{
    width: 25px;
}

/*===============================================
/* ドロップダウンメニュー（写真付 上ナビ）
/*==============================================*/
ul.nav-text-wrapper{
    flex-direction: column;
}

#g-nav ul{
    /*2階層目の基点にするためrelativeを指定*/
	position: relative;
    display: flex;
    justify-content: center;
}

.shop-info{
    display: none;
}

#g-nav{
    max-width: 1500px;
    height: 80px;
    margin: 0 auto;
}

.nav-text a{
    position: relative;
    top: 40%;
}

/*2階層目以降は横並びにしない*/
#g-nav ul ul{
	display: block;
    margin: 0;
}

/*ナビゲーションのリンク設定*/
#g-nav ul li a{
    /*矢印の基点にするためrelativeを指定*/
	position: relative;
	text-decoration: none;
	color: #555;
    padding: 10px;
}

#g-nav ul li a:hover,
.phone-icon a:hover{
	color:#fff;	
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
#g-nav ul li.has-child > a::before{
	content:'';
	position: absolute;
	left:-5px;
	top:18px;
	width:6px;
	height:6px;
	border-top: 2px solid #555;
    border-right:2px solid #555;
    transform: rotate(135deg);
}

/*==2階層目以降の画像設定*/
#g-nav ul li.has-child img{
	max-width: 100%;
	height: auto;
	transition: all .5s;
	vertical-align: bottom;
}

/*hoverしたら画像拡大*/
#g-nav ul li.has-child img:hover{
	transform: scale(1.1);
}

#g-nav ul li.has-child dt{
	overflow: hidden;
	height: 12vh;
}

#g-nav ul li.has-child dd{
    background: #fff;
    opacity: .8;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width:1200px){
    #g-nav ul li.has-child dt{
	height: 10vh;
    }
}

/*== 2層目の設定 ====================*/
#g-nav li.has-child ul{
    position: absolute;
	left:5%;
	top:80px;
	z-index: 4;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background:rgba(173,162,150, 0.9);
	width:80%;
    margin: 0 auto;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
    padding: 10px 0;
}

#g-nav li.has-child:hover > ul{
    visibility: visible;
    opacity: 1;
    margin: 0 auto;
    left: 10%;
}

#g-nav li.has-child ul li{
	width:30%;
}

#g-nav li.has-child ul li a{
	color: #555;
    top: 0;
}

#g-nav h1{
    display: none;
}

@media screen and (max-width:850px){
    #g-nav ul li a{
        display: block;
    }
    #g-nav h1{
        display: block;
        margin:30px auto 0 auto;
        width:80px;
    }

    .shop-info{
        color:#fff;
        width: 280px;
        margin: 30px auto 20px auto;
    }

    #g-nav ul{
        display: block;
        margin: 0;
    }

    #g-nav li.has-child ul{
        position: relative;
        left:0;
        top:0;
        width:100%;
        visibility:visible;/*JSで制御するため一旦表示*/
        opacity:1;/*JSで制御するため一旦表示*/
        display: none;/*JSのslidetoggleで表示させるため非表示に*/
        transition:none;/*JSで制御するためCSSのアニメーションを切る*/
        border-radius: 0;
        padding: 0;
    /* スマホ表示用。線の残像を消す*/
        transform:  translate3d(0, 0, 0);
    }

    #g-nav ul li{
        border-bottom:1px solid rgba(255,255,255,0.8);
    }

    #g-nav li.has-child ul li{
        width:100%;
        text-align: left;
        }
        
    #g-nav li.has-child ul li dl{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    #g-nav li.has-child ul li dt{
        width:30%;
        height: auto;
        margin: 0;
        border-radius: 0;
        }

    #g-nav li.has-child ul li dd{
        width:64%;	
        border-radius: 0;
        background:transparent;
        padding: 0;
        text-align: left;
        color: #fff;
    }

    #g-nav ul li.has-child img{
        border-radius: 0;
    }
        
    #g-nav ul li a{
        padding: 10px 40px 10px 40px;
        color: #fff;
    }

    #g-nav ul li a:hover{
        color: #fff;
    }
        
    #g-nav ul li li a{
            padding: 0;
    }
        
    /*矢印の位置と向き*/
    #g-nav ul li.has-child > a::before{
        top:23px;
        top:50%;
        left:20px;
        transform: translateY(-50%);
        transform: rotate(135deg);
        border-top: 2px solid#fff;
        border-right: 2px solid#fff;
    }

    #g-nav ul li.has-child.active > a::before{
        transform: rotate(-45deg);
    }
    #g-nav li.has-child:hover > ul{
        left: 0;
    }
}

/*==================================================
/* クリックしたら円形背景が拡大（左上から）
/*================================================*/
@media screen and (max-width:850px) {
    #g-nav{
        display: none;
    }

    .shop-info{
        display: block;
    }
    
    /*アクティブになったエリア*/
    #g-nav.panelactive{
        display: block;
        position:fixed;
        z-index: 99;
        top: 0;
        width:100%;
        height: 100vh;
    }

    .circle-bg{
        position: fixed;
        z-index:3;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #9EA088;
        transform: scale(0);
        left:-18px;
        top:-18px;
        transition: all .6s;
    }

    .circle-bg.circleactive{
        transform: scale(50);
    }

    /*ナビゲーションの縦スクロール*/
    #g-nav-list{
        opacity: 0;
        /*ナビの数が増えた場合縦スクロール*/
        position: fixed;
        z-index: 99; 
        width: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    #g-nav.panelactive #g-nav-list{
        opacity: 1;
    }

    /*ナビゲーション*/
    #g-nav ul {
        opacity: 0;
        width: 90%;
        margin:0 auto 60px auto;
    }
        
    #g-nav ul ul{
        margin: 0;
    }

    /*背景が出現後にナビゲーションを表示*/
    #g-nav.panelactive ul {
        opacity:1;
    }
}

/*===================================*/
/* MENUをCLOSEに 
/*===================================*/
.openbtn{
    display: none;
}

@media screen and (max-width:850px) {
/*ボタン外側*/
.openbtn{
    display: block;
	position:fixed;
	top:10px;
	left: 10px;
	z-index: 999;
	cursor: pointer;
    width: 50px;
    height:50px;
	background:#9EA088;
	border-radius: 5px;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
	background: #fff;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:13px;	
}

.openbtn span:nth-of-type(2) {
	top:19px;
}

.openbtn span:nth-of-type(3) {
	top:25px;
}

.openbtn span:nth-of-type(3)::after {
	content:"Menu";
	position: absolute;
	top:5px;
	left:-6px;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
}

.openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(3)::after {
	content:"Close";
    transform: translateY(0) rotate(-45deg);
	top:5px;
	left:2px;
}
}

/*==================================*/
/* 押し込まれる（円が縮小） 
/*===================================*/
.pushcircle{
	position: relative;
    /*円の形状*/
    outline: none;
    /*天地中央にテキストを配置*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/*内側の線*/
.pushcircle:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
    /*線の形状*/
    width: 90%;
	height: 90%;
    border-radius: 5px;
	transform: translate(-50%, -50%) scale(1.1);
    transition: .3s ease; 
	}

.sub-btn-list li:first-child a{
    background:#9EA088;   
}

.sub-btn-list li:last-child a{
    background:#9EA088;   
}

.sub-btn-list li:first-child a.pushcircle:after {
    border: 1px solid #9EA088;   
}

.sub-btn-list li:last-child a.pushcircle:after {
    border: 1px solid #9EA088;   
}

.sub-btn-list li:first-child a.pushcircle:hover:after,
.sub-btn-list li:last-child a.pushcircle:hover:after {
	transform: translate(-50%, -50%) scale(1);
    border-color:rgba(255,255,255,0.8);
}


/*===============================================*/
/* ページの指定の高さを超えたら下から出現
/*===============================================*/
#page-top a{
    content: url("../img/arrow.svg");
	display: flex;
	justify-content:center;
	align-items:center;
	background:#9EA088;
	width: 50px;
	height: 50px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
    letter-spacing: 0.1em;
	transition:all 0.3s;
    opacity: .9;
}

#page-top a:hover{
    transform: translate(0,-10px)
}

#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
	opacity: 0;
	transform: translateY(150px);
}

/* 上に上がる動き */
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
    from {
    opacity: 0;
	transform: translateY(100px);
    }
    to {
    opacity: 1;
	transform: translateY(0);
    }
}

/* 下に下がる動き */
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}

/*==================================================*/
/* 任意の場所をクリックすると隠れていた内容が開く 
/*==================================================*/
/*アコーディオン全体*/
.accordion-area{
    width: 96%;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
	border-bottom: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    position: relative;
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 20px 50px 20px 20px;
    transition: all .5s ease;
}

/*アイコンの矢印*/
.title::before,
.title::after{
    position: absolute;
    content:'';
}
.title::before{
    top:25%;
    right: 15px;
    width: 25px;
    height:25px;
    background-color: #cbcaca;
    border-radius: 50%;
}
.title::after{   
    top: 32%;
    right: 23px;
    width: 9px;
    height: 9px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
}
/* closeというクラスがついたら形状変化 */
.title.close::after{
    top: 35%;
    transform:rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;
    background: #f3f3f3;
    padding: 20px;
}

/*=======================================*/
/* 複数画像を中央に注目させて見せる 
/*=======================================*/
.slider{
    width: 94%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.slider dl{
    text-align: center;
}
.slider dd:first-of-type{
    padding-top: 40px;
    font-size: 1.8rem;
}
.slider dd:last-of-type{
    padding-bottom: 10px;
}

.slider dd span{
    font-size: 2rem;
    font-weight: 700;
}

.slider img {
    width:50vw;
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.85);
	transition: all .5s;
}

@media screen and (max-width:1020px){
    .slider img {
    width:70vw;
}
}

@media screen and (max-width:850px){
    .slider img {
    width:96vw;
}
}

.slider .slick-slide.slick-center{
	transform: scale(1);
	opacity: 1;
}

/* Slick_設定 */
.slick-prev, 
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
    border-top: 2px solid #555;
    border-right: 2px solid #555;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#9EA088;
}

.slick-dots .slick-active button{
    background:#B25938;
}

/*==================================================*/
/* 画像をクリックすると、メイン画像が切り替わる 
/*==================================================*/
/*画像の横幅を100%にしてレスポンシブ化*/
#newitems img{
	width: 100%!important;
	height: auto;
	vertical-align: bottom;
}

/*メイン画像下に余白をつける*/
#gallery{
	margin:0 0 20px 0;
    width:100%;
}

/*矢印の設定*/
.slick-prev, 
.slick-next {
    position: absolute;
	z-index: 3;
    top: 35%;
    cursor: pointer;
    outline: none;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left:-2%;
    transform: rotate(-135deg);
}

.slick-next {
    right:-2%;
    transform: rotate(45deg);
}

@media screen and (max-width:850px){
    .slick-prev,
    .slick-next{
        top: 34%;
    }
}

@media screen and (max-width:600px){
    .slick-prev,
    .slick-next{
        top: 33%;
    }
}

@media screen and (max-width:400px){
    .slick-prev,
    .slick-next{
        top: 25%;
    }
}

@media screen and (max-width:350px){
    .choice-btn li{
        width:48%!important;
        margin:0 1% 10px 1%;
    }
    }

/*選択するサムネイル画像の設定*/
.choice-btn li{
	cursor: pointer;
	outline: none;
	width:23%!important;
    margin: 0 1%;
}

@media screen and (max-width:350px){
.choice-btn li{
    width:48%!important;
    margin:0 1% 10px 1%;
}
}

.choice-btn li img{
    opacity: 0.6;
}

.choice-btn li.slick-current img{
    opacity: 1;
}

/*======================*/
/* 要素の動き 
/*======================*/
/* 下から */
.fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 上から */
.fadeDown{
    animation-name: fadeDownAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeDownAnime{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* スマホ表示用。flipRightTriggerを指定している親要素に指定しないとうまく動かない*/
#galery{
    transform:  translate3d(0, 0, 0);
}

/* 右へ */
.flipRight{
    animation-name: flipRightAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    perspective-origin: right center;
    opacity:0;
}

@keyframes flipRightAnime{
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(-30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定 */
.flipRightTrigger,
.fadeUpTrigger,
.fadeDownTrigger{
    opacity: 0;
}

/*=================================*/
/* 画像リンクの動き
/*=================================*/

/* 回転＋テキスト（Y 軸） */
/* スマホ表示用。flipYを指定している親要素に指定しないとうまく動かない*/
.choice-btn{
    transform:translate3d(0, 0, 0);
}

/*テキストの基点となる位置を定義*/
.flipY a{
    position: relative;
    display: block;
}

.flipY img {
    transition: all 0.35s;
    backface-visibility: hidden;
}

.flipY:hover img{
    transform: rotateY(-180deg);
    opacity: 0!important;
}

.flipY span.detail-cap {
/*ここからエリアの絶対配置の指定*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
/*ここまでエリアの絶対配置の指定*/
    transition: all 0.35s ease;
    transform: rotateY(90deg);
    transform-origin: 50% 0%;
    opacity: 0;
    background:#666;
    color: #fff;

/*ここからテキスト中央寄せの指定*/
    display: flex;
    justify-content: center;
    align-items: center;
/*ここまでテキスト中央寄せの指定*/
}

.flipY:hover span.detail-cap{
    transform: rotateY(0);
    opacity: 1;
    transition-delay: 0.15s;
}

/* Mask */
.shine span.mask{
	position: relative;
    display: block;
    overflow: hidden;
}

.shine span.mask::before {
	position: absolute;
	content: '';
	width: 50%;
	height: 100%;
	top: 0;
	left: -75%;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	transform: skewX(-25deg);
}

.shine span.mask:hover::before {
	animation: shine 0.7s;
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

/* 画像の拡大 */
.shine img{
	transform: scale(1);
	transition: .3s ease-in-out;
}

.shine a:hover img{
	transform: scale(1.1);
}

/* 画像のマスク */
.mask{
    display: block;
    line-height: 0;
    overflow: hidden;
}
